:root.theme-light {
  --page-bg-color: #fff1f7;
  --page-bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decor-text-color: #353430;
  --section-title-color: #353430;
  --main-text-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --main-title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decor-text-color: #353430;
    --section-title-color: #353430;
    --main-text-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }

  :root:not(.theme-dark):not(.theme-light) .header__theme-menu-button_type_light {
    border-color: var(--accent-color);
    pointer-events: none;
  }

  :root:not(.theme-dark):not(.theme-light)
    .header__theme-menu-button_type_auto.header__theme-menu-button_active {
    border-color: transparent;
    pointer-events: auto;
  }
}
