.page {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-color: var(--accent-color);
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
}

.main-title {
  color: var(--main-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.title-decor {
  color: var(--decor-text-color);
  font-weight: bold;
  background-color: var(--accent-color);
}

.header,
.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header {
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 1.39;
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  z-index: 1;
  grid-row: 1;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  padding: 0 13px;
  border: 1px solid transparent;
  color: var(--accent-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  align-self: center;
}

.header__text {
  grid-row: 3;
  align-self: center;
  justify-self: end;
  inline-size: 100%;
}

.content {
  display: grid;
  gap: 50px;
  margin-block: 40px;
  padding-inline: 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__title {
  color: var(--section-title-color);
  font-size: inherit;
  line-height: inherit;
}

.content-section__cards {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title,
.card__subtitle,
.gallery__title {
  font-size: inherit;
  line-height: inherit;
}

.card__subtitle {
  font-weight: normal;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header,
  .footer {
    padding: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__text {
    inline-size: calc((100% - 20px) / 2);
  }

  .content {
    gap: 80px;
    margin-block: 60px;
    padding-inline: 20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section__cards {
    grid-column: 2 / 4;
  }

  .content-section_type_cards .content-section__title {
    max-inline-size: calc((100% - 40px) / 3);
  }

  .content-section_type_cards .content-section__cards {
    grid-column: 1 / -1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}

@media (768px <= width < 1024px) {
  .content {
    gap: 72px;
  }

  .content-section {
    grid-template-columns: 236px 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section_type_cards .content-section__title {
    max-inline-size: none;
  }

  .content-section_type_cards .content-section__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
